trace(){
echo "$@" >>/tmp/trace
}

menu_present(){
    local text="text1"
    local column_name="column1"
    if [ -s $file_list ];then
        trace  "[ok] file exist: " "$file_list"
        local cmd="cat $file_list | zenity --list --text=\"$text\" --column=\"$column_name\" --print-column=1 $ZENITY"
        trace "[cmd] $cmd"
        local str=$( eval "$cmd" )
        echo "$str"
    else
        echo "[error] file not exist: " "$file_list"
    fi
}
where_am_i () 
{ 
    local file=${1:-"${BASH_SOURCE[1]}"};
    local rpath=$(readlink -m $file);
    local rcommand=${rpath##*/};
    local str_res=${rpath%/*};
    local dir_self="$( cd $str_res  && pwd )";
    echo "$dir_self"
}
build_menu(){
    update_clipboard "vi $file"
    local file=$1
    if [ -f $file ];then
        print_color 32 "[MENU.META] exist"
        ls -1 $file
    else
        print_color 31 "[MENU.META] not exist"
    fi
}
menu_generate_file_list(){
    export file_list=$dir_self/list.txt
     ls -1 BANK > $file_list
     cat -n $file_list
}

#export -f run_dir
#export  -f where_am_i
export -f menu_generate_file_list
#export -f menu_parse
export -f menu_present
export -f trace
export ZENITY="--height=400"
export GXMESSAGE="-ontop -sticky -wrap -timeout 10"
